.popup__input-profile_label {
  background-image: url(../../../../image/__upload.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  margin: 0 auto;
  padding-bottom: 45px;
}

.popup__input-profile_label:hover {
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
