.popup__input-profile_label {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #3369f3;
  text-align: center;
  text-decoration-line: underline;
  background-repeat: no-repeat;
  width: 122px;
  height: 32px;
  cursor: pointer;
  transition: 0.5s;
  margin: 0 auto;
  margin-bottom: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popup__input-profile_label:hover {
  transition-timing-function: ease-in-out;
  opacity: 0.5;
}
