<div class="chat__footer">
    <div class="chat__footer-box">
      <!-- чтобы открыть попап нужно добавить класс боксу chat__footer-options_opened -->
      <div class="chat__footer-options chat__footer-options_opened">
        <ul class="chat__footer-options-choice">
          <li class="chat__footer-options-item">
            <img
              src="../image/__photo_or_video.svg"
              alt="Плюс"
              class="chat__button-icon chat__button-icon_fix"
            />
            <p class="chat__options-text">Фото или Видео</p>
          </li>
          <li class="chat__footer-options-item">
            <img
              src="../image/__file-send.png"
              alt="Плюс"
              class="chat__button-icon chat__button-icon_fix"
            />
            <p class="chat__options-text">Файл</p>
          </li>
          <li class="chat__footer-options-item">
            <img
              src="../image/__location-send.svg"
              alt="Плюс"
              class="chat__button-icon chat__button-icon_fix"
            />
            <p class="chat__options-text">Локация</p>
          </li>
        </ul>
      </div>
    </div>
    <button class="chat__footer-button">
      <img
        src="../image/__paper-clip.svg"
        alt="Прикрепить"
        class="chat__footer-img"
      />
    </button>
    <input
      placeholder="Сообщение"
      type="text"
      name=""
      class="chat__footer-send-message"
    />
    <button class="chat__footer-button">
      <img
        src="../image/__button-back.svg"
        alt="Прикрепить"
        class="chat__footer-send"
      />
    </button>
  </div>
</div>