.chat__count-message {
  background-color: #3369f3;
  border-radius: 50%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  padding: 4px 7px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
