.profile__form-submit {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  background-color: #3369f3;
  border-radius: 8px;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  width: 280px;
  margin: 0 auto;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .profile__form-submit {
    width: 260px;
  }
}

.profile__form-submit:disabled {
  transition-timing-function: ease-in-out;
  background-color: #e8e8e8;
  color: #3369f3;
}

.profile__form-submit:not([disabled]):hover {
  background-color: #0349f8;
}
