.chat__link-profile {
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  margin-right: 8px;
}
