.popup__title_confirm{
   margin: 34px auto 38px 36px;
}

@media screen and (max-width: 1023px) {
    .popup__title_confirm {
        justify-content: center;
        margin: 15px auto 36px;

    }
  }