<section class="profile">
  <div class="profile__back">
    <a href="./profile.hbs" class="profile__back-button"></a>
  </div>
  <div class="profile__box">
    <div class="profile__elipse profile__elipse_change">
      <p class="profile__message">Поменять аватар</p>
    </div>
    <h1 class="profile__name">Иван</h1>
    <form class="profile__form" name="profileData">
      <fieldset class="profile__fieldset">
        <ul class="profile__data">
          <li class="profile__data-item">
            <label
              for="email"
              class="profile__general profile__general_cursor"
            >Почта</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              placeholder="pochta@yandex.ru"
              class="profile__input"
              name="email"
              type="email"
              id="email"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="login"
              class="profile__general profile__general_cursor"
            >Логин</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              id="login"
              class="profile__input"
              placeholder="ivanivanov"
              type="text"
              name="login"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="first_name"
              class="profile__general profile__general_cursor"
            >Имя</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              id="first_name"
              placeholder="Иван"
              class="profile__input"
              name="first_name"
              type="text"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="second_name"
              class="profile__general profile__general_cursor"
            >Фамилия</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              id="second_name"
              placeholder="Фамилия"
              class="profile__input"
              type="text"
              name="second_name"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="display_name"
              class="profile__general profile__general_cursor"
            >Имя в чате</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              id="display_name"
              placeholder="Иван"
              class="profile__input"
              type="text"
              name="display_name"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="phone"
              class="profile__general profile__general_cursor"
            >Телефон</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              placeholder="+7 (909) 967 30 30"
              class="profile__input"
              type="text"
              name="phone"
              id="phone"
            />
          </li>
        </ul>
        <button
          type="submit"
          name="save"
          class="profile__form-submit"
        >Сохранить</button>
        <div class="profile__span-error">
          <span class="profile__error profile__error_button">Текст ошибки</span>
        </div>
      </fieldset>
    </form>
  </div>
</section>

{{> 'profile__change-data/popup/popup'}}