.chat__content-message-sender {
  display: flex;
  flex-direction: column;
  max-width: 391px;
  min-width: 50px;
  margin: 0 auto 0 1px;
  padding: 0;
  background-color: #f8f8f8;
  padding: 11px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 10px;
}

.chat__content-message-sender:last-of-type {
  margin-bottom: 0;
}
