.chat__search-input {
  height: 32px;
  margin: 0;

  outline: none;
  border: none;
  padding-bottom: 6px;
  cursor: pointer;
  width: 256px;
  background-color: #efefef;
  border-radius: 5px;
  margin: 0 34px;
}

.chat__search-input[type="text"] {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #1e1e1e;
  padding: 0;
}

.chat__search-input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  text-align: center;
  align-items: center;
}

.chat__search-input[type="text"]:focus~.chat__search-ico_active {
  left: 10px;
}
