<section class="profile">
  <div class="profile__back">
    <a href="./profile.hbs" class="profile__back-button"></a>
  </div>
  <div class="profile__box">
    <div class="profile__elipse"></div>
    <h1 class="profile__name">Иван</h1>
    <form class="profile__form" name="profileData">
      <fieldset class="profile__fieldset">
        <ul class="profile__data">
          <li class="profile__data-item">
            <label
              for="oldPassword"
              class="profile__general profile__general_cursor"
            >Старый пароль</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              placeholder="•••••••••"
              class="profile__input"
              name="oldPassword"
              type="password"
              id="oldPassword"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="newPassword"
              class="profile__general profile__general_cursor"
            >Новый пароль</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              id="newPassword"
              class="profile__input"
              placeholder="•••••••••••"
              type="password"
              name="newPassword"
            />
          </li>
          <li class="profile__data-item">
            <label
              for="newPasswordConfirm"
              class="profile__general profile__general_cursor"
            >Повторите новый пароль</label>
            <div class="profile__span-error">
              <span class="profile__error profile__error_input">Текст ошибки</span>
            </div>
            <input
              id="newPasswordConfirm"
              placeholder="•••••••••••"
              class="profile__input"
              name="newPasswordConfirm"
              type="password"
            />
          </li>
        </ul>
        <button
          type="submit"
          name="save"
          class="profile__form-submit"
        >Сохранить</button>
        <div class="profile__span-error">
          <span class="profile__error profile__error_button">Текст ошибки</span>
        </div>
      </fieldset>

    </form>
  </div>

  <!--Чтобы открыть попап нужно добавить клас  popup_opened-->
  <div class="popup popup_type-edit-avatar">
    <div class="popup__container">
      <button class="popup__button-close" name="close" type="button"></button>
      <div class="popup__content">
        <h2 class="popup__title">Загрузите файл</h2>
        <form class="popup__form popup_type-edit-avatar" name="popupForm-edit">
          <fieldset class="popup__fieldset">
            <input
              class="popup__input-profile"
              type="file"
              name="avatar"
              id="file"
            />
            <label class="popup__input-profile_label" for="file"></label>
            <button type="submit" name="save" class="popup__form-submit">
              Поменять
            </button>
            <div class="popup__span-error">
              <span class="popup__error">Нужно выбрать файл</span>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>