.chat__user-name {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  height: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
