.popup__form-submit_fix{
    display: flex;
    margin: 0 auto 36px 36px;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .popup__form-submit_fix {
      margin: 0 auto 36px;
    }
  }
