.chat__footer-options {
  position: absolute;
  width: 162px;
  border-radius: 12px;
  height: 128px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  right: -152px;
  top: -140px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}
